/* Tablet view */
@media only screen and (max-width: 800px) {
    body{
        background: white;
    }
    main{
        width: 80%;
        height: 80vh;
    }
    .black{
        background: rgb(155, 1, 1);
    }
}

/* Mobile view */
@media only screen and (max-width: 600px) {
    body{
        background: turquoise;
    }
    main{
        width: 90%;
        height: 80vh;
    }
    .black{
        background: #ff5;
    }
}